<h1>Add the url to shorten below:</h1>
<% unless flash.empty? %>
  <p><%= flash.first[1] %></p>
<% end %>
<%= form_for @webpage do |f| %>
  <%= f.label :url %>
  <%= f.text_field :url %>
  <%= f.submit %>
<% end %>
